@charset "utf-8";

*,
*::after,
*::before,
body,
html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*+* {
    /* margin-top: 1em; */
    margin-block-start: 1em;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: black;
        --background-color: Canvas;
        --accent-color: darkblue;
        --text-color: white;
        --text-color: CanvasText;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --background-color: Canvas;
        --background-color: lightskyblue;
        --accent-color: cornflowerblue;
        --text-color: black;
        --text-color: CanvasText;
    }
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: sans-serif;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-shrink: 0;
    text-align: center;
    font-size: 0.7em;
    opacity: 60%;
    color: var(--background-color);
    background-color: var(--text-color);
}

footer>* {
    margin: 0;
}

.halfscreen {
    height: 50svh;
}

.fillscreen {
    height: 100svh;
}

.frontpage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10svw;
    font-size: calc(0.5svw + 1em);
}

.blueblack_gradient {
    background: rgb(0, 0, 30);
    background: linear-gradient(0deg, transparent 50%, var(--background-color) 55%, var(--accent-color) 80%, rgb(0, 160, 220) 110%);
    background-size: 100% 200%;
    background-position: 0 0;
    animation: background_slidedown 5s ease-out;
}

@keyframes background_slidedown {
    0% {
        background-position: 0 100%;
    }

    100% {
        background-position: 0 0%;
    }
}

.icon {
    display: inline-block;
    width: 1.8em;
    height: 1.8em;
    margin: 0.5em;
    background-color: var(--text-color);
}

img.icon,
.icon.panflag,
.icon.darklight {
    border: 1px solid var(--text-color);
}

.panflag {
    background: linear-gradient(to bottom, #FF1C8D 33%, #FFD700 33%, #FFD700 66%, #1AB3FF 66%);
    color: var(--accent-color);
}

.icon.darklight {
    position: relative;
    background-color: transparent;
    isolation: isolate;
}

@media (prefers-color-scheme: light) {
    .icon.darklight::before {
        content: "☀";
        position: absolute;
        inset: 0;
        overflow: hidden;
        font-size: 1.4em;
        font-family: "Noto Color Emoji",
            "Apple Color Emoji",
            "Segoe UI Emoji",
            Times,
            serif,
            LastResort;
        text-align: center;
        vertical-align: center;
    }
}

@media (prefers-color-scheme: dark) {
    .icon.darklight::before {
        content: "🌙";
        position: absolute;
        inset: 0;
        overflow: hidden;
        font-size: 1.6em;
        text-align: center;
        vertical-align: center;
    }
}

.icon.twitter {
    -webkit-mask-size: contain;
    mask-size: contain;
    --mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 72 72'%3E%3Cpath class='icon' fill='currentColor' d='M68.812 15.14a26.189 26.189 0 0 1-7.52 2.06 13.125 13.125 0 0 0 5.757-7.243 26.133 26.133 0 0 1-8.314 3.176A13.066 13.066 0 0 0 49.182 9c-7.23 0-13.092 5.86-13.092 13.093 0 1.026.118 2.02.338 2.98C25.543 24.527 15.9 19.318 9.44 11.396a13.057 13.057 0 0 0-1.77 6.58c0 4.543 2.312 8.552 5.824 10.9a13.05 13.05 0 0 1-5.93-1.64c-.002.056-.002.11-.002.163 0 6.345 4.513 11.638 10.504 12.84-1.1.298-2.256.457-3.45.457-.845 0-1.666-.078-2.464-.23 1.667 5.2 6.5 8.985 12.23 9.09a26.29 26.29 0 0 1-16.26 5.605c-1.055 0-2.096-.06-3.122-.184a37.036 37.036 0 0 0 20.067 5.882c24.083 0 37.25-19.95 37.25-37.25 0-.565-.013-1.133-.038-1.693a26.61 26.61 0 0 0 6.532-6.774z'/%3E%3C/svg%3E");
    -webkit-mask-image: var(--mask-image);
    mask-image: var(--mask-image);
}

.icon.youtube {
    -webkit-mask-size: contain;
    mask-size: contain;
    --mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' %3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M21.3766 4.10479C22.4093 4.38257 23.2225 5.20102 23.4985 6.24038C24 8.12411 24 12.0545 24 12.0545C24 12.0545 24 15.9848 23.4985 17.8688C23.2225 18.908 22.4093 19.7265 21.3766 20.0044C19.505 20.5091 12 20.5091 12 20.5091C12 20.5091 4.49496 20.5091 2.62336 20.0044C1.59082 19.7265 0.777545 18.908 0.501545 17.8688C0 15.9848 0 12.0545 0 12.0545C0 12.0545 0 8.12411 0.501545 6.24038C0.777545 5.20102 1.59082 4.38257 2.62336 4.10479C4.49496 3.59998 12 3.59998 12 3.59998C12 3.59998 19.505 3.59998 21.3766 4.10479ZM15.8182 12.0546L9.54551 15.623V8.48596L15.8182 12.0546Z' fill='currentColor'%3E%3C/path%3E%3C/svg%3E");
    -webkit-mask-image: var(--mask-image);
    mask-image: var(--mask-image);
}

.icon.github {
    -webkit-mask-size: contain;
    mask-size: contain;
    --mask-image: url("data:image/svg+xml,%3Csvg width='98' height='96' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M48.854 0C21.839 0 0 22 0 49.217c0 21.756 13.993 40.172 33.405 46.69 2.427.49 3.316-1.059 3.316-2.362 0-1.141-.08-5.052-.08-9.127-13.59 2.934-16.42-5.867-16.42-5.867-2.184-5.704-5.42-7.17-5.42-7.17-4.448-3.015.324-3.015.324-3.015 4.934.326 7.523 5.052 7.523 5.052 4.367 7.496 11.404 5.378 14.235 4.074.404-3.178 1.699-5.378 3.074-6.6-10.839-1.141-22.243-5.378-22.243-24.283 0-5.378 1.94-9.778 5.014-13.2-.485-1.222-2.184-6.275.486-13.038 0 0 4.125-1.304 13.426 5.052a46.97 46.97 0 0 1 12.214-1.63c4.125 0 8.33.571 12.213 1.63 9.302-6.356 13.427-5.052 13.427-5.052 2.67 6.763.97 11.816.485 13.038 3.155 3.422 5.015 7.822 5.015 13.2 0 18.905-11.404 23.06-22.324 24.283 1.78 1.548 3.316 4.481 3.316 9.126 0 6.6-.08 11.897-.08 13.526 0 1.304.89 2.853 3.316 2.364 19.412-6.52 33.405-24.935 33.405-46.691C97.707 22 75.788 0 48.854 0z' fill='currentColor'/%3E%3C/svg%3E");
    -webkit-mask-image: var(--mask-image);
    mask-image: var(--mask-image);
}

.icon.linkedin {
    -webkit-mask-size: contain;
    mask-size: contain;
    --mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='65' height='65' viewBox='0 0 65 65'%3E%3Cpath id='Path_2520' data-name='Path 2520' d='M958.98,112.559h-9.6V97.525c0-3.585-.064-8.2-4.993-8.2-5,0-5.765,3.906-5.765,7.939v15.294h-9.6V81.642h9.216v4.225h.129a10.1,10.1,0,0,1,9.093-4.994c9.73,0,11.524,6.4,11.524,14.726ZM918.19,77.416a5.571,5.571,0,1,1,5.57-5.572,5.571,5.571,0,0,1-5.57,5.572m4.8,35.143h-9.61V81.642h9.61Zm40.776-55.2h-55.21a4.728,4.728,0,0,0-4.781,4.67v55.439a4.731,4.731,0,0,0,4.781,4.675h55.21a4.741,4.741,0,0,0,4.8-4.675V62.025a4.738,4.738,0,0,0-4.8-4.67' transform='translate(-903.776 -57.355)' fill='currentColor'/%3E%3C/svg%3E");
    -webkit-mask-image: var(--mask-image);
    mask-image: var(--mask-image);
}

.icon.steam {
    -webkit-mask-size: contain;
    mask-size: contain;
    --mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 90 90' height='90' width='90'%3E%3Cpath d='M44.238,0.601C21,0.601,1.963,18.519,0.154,41.29l23.71,9.803c2.009-1.374,4.436-2.179,7.047-2.179 c0.234,0,0.467,0.008,0.698,0.021l10.544-15.283c0-0.073-0.001-0.144-0.001-0.216c0-9.199,7.483-16.683,16.683-16.683 c9.199,0,16.682,7.484,16.682,16.683c0,9.199-7.483,16.684-16.682,16.684c-0.127,0-0.253-0.003-0.379-0.006l-15.038,10.73 c0.008,0.195,0.015,0.394,0.015,0.592c0,6.906-5.617,12.522-12.522,12.522c-6.061,0-11.129-4.326-12.277-10.055L1.678,56.893 c5.25,18.568,22.309,32.181,42.56,32.181c24.432,0,44.237-19.806,44.237-44.235C88.475,20.406,68.669,0.601,44.238,0.601' fill='currentColor'/%3E%3Cpath d='M27.875,67.723l-5.434-2.245c0.963,2.005,2.629,3.684,4.841,4.606c4.782,1.992,10.295-0.277,12.288-5.063 c0.965-2.314,0.971-4.869,0.014-7.189c-0.955-2.321-2.757-4.131-5.074-5.097c-2.299-0.957-4.762-0.922-6.926-0.105l5.613,2.321 c3.527,1.47,5.195,5.52,3.725,9.047C35.455,67.526,31.402,69.194,27.875,67.723' fill='currentColor'/%3E%3Cpath d='M69.95,33.436c0-6.129-4.986-11.116-11.116-11.116c-6.129,0-11.116,4.987-11.116,11.116 c0,6.13,4.987,11.115,11.116,11.115C64.964,44.55,69.95,39.565,69.95,33.436 M50.502,33.417c0-4.612,3.739-8.35,8.351-8.35 c4.612,0,8.351,3.738,8.351,8.35s-3.739,8.35-8.351,8.35C54.241,41.767,50.502,38.028,50.502,33.417' fill='currentColor'/%3E%3C/svg%3E");
    -webkit-mask-image: var(--mask-image);
    mask-image: var(--mask-image);
}

.iconlink {
    display: flex;
    color: var(--text-color);
    align-items: center;
    text-decoration: none;
    transform-origin: left;
    transition: scale 0.1s;
}

.iconlink:hover,
.iconlink:focus-visible {
    scale: 1.4;
    transition: scale 0.5s;
}

.iconlink::before {
    content: "";
    position: relative;
    width: 0;
    height: 0;
    --arrow-size: 1em;
    border-top: var(--arrow-size) solid transparent;
    border-left: var(--arrow-size) solid var(--text-color);
    border-bottom: var(--arrow-size) solid transparent;
    opacity: 0;
    left: -1em;
    transition: left 0.5s, opacity 0.5s;
}

.iconlink:hover::before,
.iconlink:focus-visible::before {
    opacity: 1;
    left: 0;
}

.iconlink:active {
    scale: initial;
}

.iconlink-grid {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
    justify-items: stretch;
    align-items: center;
}

.iconlink-grid>* {
    margin-top: 1em;
}

.centercolumn {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.box {
    padding: 2em 2em;
    border-radius: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
}

a[href^="//"]::after,
a[href^="http"]::after,
a[href^="https://"]::after,
a[target="_blank"]::after {
    /* ◹ ➚ */
    content: "➚";
    vertical-align: super;
    font-size: 0.7em;
}

h1>a {
    color: unset;
    text-decoration: unset;
    font-size: 0.9em;
}

.end_cursor_blink::after {
    content: "_";
    animation: blink 1.5s steps(2) infinite;
}

@keyframes blink {
    0% {
        visibility: hidden;
    }
}